/* General Page Styles */
body {
    font-family: Verdana, Geneva, sans-serif;
    padding: 20px;
    background-color: #F0FFF4; /* soft light green background */
    text-align: center;
}

/* SHARED STYLES: All boxes get these rules */
.swatch {
    height: 150px;
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    border: 5px dashed black; /* Default Border */
    border-radius: 15px; /* rounded corners */
    color: white; /* Default text color inside boxes */
}

/* UNIQUE STYLES: Update the HEX codes below */

/* 1. Primary Color */
.primary {
    background-color: #6FBF73; /* CHANGE THIS */
}

/* 2. Accent Color */
.accent {
    background-color:  #3FA136; /* CHANGE THIS */
}

/* 3. Text/Light Color */
.text {
    background-color: #FFFFFF; /* CHANGE THIS */
    color: black; /* Dark text for light background */
}